.footer {
  width: 100%;
  @extend .flex;
  @extend .flex-wrap;
  @extend .flex-v-start;
  @extend .flex-h-center;
  background-image   : url('../dist/images/footer_bg.png');
  background-repeat  : no-repeat;
  background-size    : cover;
  background-position: center;
  padding            : 50px 0;

  .menu {
    &:after {
      width     : 100%;
      content   : '';
      display   : block;
      margin-top: 45px;
      max-width : 950px;
      height    : 3px;
      background: linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
    }

    .menu__list--item-link {
      font-size: 1.125em;
    }

    &__list--item {
      width: auto;

        &.dev {
            position: relative;

            &::before {
                content: 'Coming soon';
                @include font('Sentral', 12px, var(--white), 400, 11px);
                display: block;
                width: max-content;
                border-radius: 5px;
                background: linear-gradient(to right, var(--gradient_start), var(--gradient_end));
                padding: 4px;
                position: absolute;
                top: -20px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }
  }

  &__title {
    width  : 100%;
    margin : 25px 0 55px 0;
    display: block;
    @extend .txt-center;
    @include font('Sentral', 3em, var(--white), 400, 1.25em);
    letter-spacing: 0.1em;

    @media screen and (max-width: 992px) {
      line-height: 1.25em;
    }
  }

  &__columns {
    width: 100%;

    .column {
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-start;
      width: 33.33333333%;
      order: 1;

      @media screen and (max-width: 1300px) {
        width: 50%;

        &:nth-child(2) {
          order: 3;
        }

        &:last-child {
          order: 2;
        }
      }

      @media screen and (max-width: 992px) {
        width        : 100%;
        margin-bottom: 25px;

        flex-direction: column;
        align-items   : center;
      }
    }

    &:after {
      width     : 100%;
      content   : '';
      display   : block;
      margin-top: 20px;
      max-width : 950px;
      height    : 3px;
      background: linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
      order     : 3;
    }

    @media screen and (max-width: 1200px) {
      align-items: flex-start;
    }
  }

  &__info {
    // width        : auto;
    max-width    : 380px;
    width        : 100%;
    padding      : 20px;
    border-radius: 30px;
    position     : relative;
    z-index      : 0;
    background   : var(--btn_background_7);
    @include font('Sentral', .85em, var(--white), 400, 1.5em);
    @extend .txt-transform_upper;

    &:before {
      content      : "";
      position     : absolute;
      z-index      : -1;
      top          : 0;
      left         : 0;
      right        : 0;
      bottom       : 0;
      padding      : 2px;
      border-radius: 30px;
      background   : linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
      -webkit-mask :
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite        : exclude;
    }

    &-icons {
      margin-bottom: 10px;

        @media screen and (max-width: 560px) {
            margin: 10px 0;
        }
    }

    @media screen and (max-width: 992px) {
      margin: 0 auto;
    }
  }

  &__info-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .footer__info-icon:not(:last-child) {
          margin-right: 10px;
      }
  }

  .title_svg {
      margin-bottom: 5px;
  }

  &__social-newsletter {
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-start;
    @extend .flex-h-start;
    @extend .flex-direction-column;
    width: auto;

    .tit {
      width: 100%;
      @include font('Sentral', 2.25em, var(--white), 400, 1.5em);
      letter-spacing: 0.1em;
      @extend .txt-center;
      margin-bottom: 40px;
    }

    @media screen and (max-width: 992px) {
      margin: 0 auto;
    }
  }

  &__newsletter {
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-start;
    width           : 100%;
    max-width       : 420px;
    height          : 75px;
    border-radius   : 30px;
    background-color: var(--btn_background_7);
    margin-bottom   : 40px;
    z-index         : 0;
    position        : relative;
    padding         : 10px 20px;

    &:before {
      content      : "";
      position     : absolute;
      z-index      : -1;
      top          : 0;
      left         : 0;
      right        : 0;
      bottom       : 0;
      padding      : 2px;
      border-radius: 30px;
      background   : linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
      -webkit-mask :
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite        : exclude;
    }

    .inpt {
      width     : calc(100% - 50px);
      border    : none;
      background: transparent;
      outline   : none;
      height    : 100%;
      @include font('Sentral', 1.5em, var(--white), 400, 1.5em);
      letter-spacing: 0.1em;
        font-variant: small-caps;

      @include placeholder {
        color      : var(--white);
        transition : all .6s;
        font-weight: 400;
      }

      &:focus {
        @include placeholder {
          opacity: 0;
        }
      }
    }

    .sbmt {
      width              : 50px;
      height             : 50px;
      display            : block;
      border             : none;
      background         : transparent;
      background-position: center;
      background-size    : cover;
      background-repeat  : no-repeat;
      background-image   : url('../dist/images/input_arrow.png');
      cursor             : pointer;
    }

    @media screen and (max-width: 992px) {
      margin-bottom: 25px;
    }
  }

  &__socials {
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-center;
    width           : 100%;
    max-width       : 420px;
    height          : 80px;
    border-radius   : 30px;
    background-color: var(--btn_background_7);
    z-index         : 0;
    position        : relative;
    padding         : 10px 20px;

    &:before {
      content      : "";
      position     : absolute;
      z-index      : -1;
      top          : 0;
      left         : 0;
      right        : 0;
      bottom       : 0;
      padding      : 2px;
      border-radius: 30px;
      background   : linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
      -webkit-mask :
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite        : exclude;

      @media screen and (max-width: 560px) {
        display: none;
      }
    }

    .socialLnk {
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-center;
      @extend .flex-h-center;
      height      : 100%;
      width       : auto;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      img {
        height: 100%;
        width : auto;
      }
    }

    @media screen and (max-width: 992px) {
      margin: 0 auto;
    }

    @media screen and (max-width: 560px) {
      background: transparent;
      height    : 40px;
      padding   : 0;
    }
  }

  &__sertificates {
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-center;
    width           : 100%;
    max-width       : 420px;
    height          : 100px;
    border-radius   : 30px;
    background-color: var(--btn_background_7);
    z-index         : 0;
    position        : relative;
    padding         : 10px 20px;

    &:before {
      content      : "";
      position     : absolute;
      z-index      : -1;
      top          : 0;
      left         : 0;
      right        : 0;
      bottom       : 0;
      padding      : 2px;
      border-radius: 30px;
      background   : linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
      -webkit-mask :
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite        : exclude;
    }

    a, span {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      height: 100%;
      width : auto;
    }

    @media screen and (max-width: 1200px) {
      margin-top: 40px;
    }

    @media screen and (max-width: 992px) {
      margin-top: 0px;
    }
  }

  &__copyright {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-between;
    margin-top: 25px;

    &--txt {
      width: calc(100% - 410px);
      @include font('Sentral', 1em, var(--white), 400, 1.5em);

      a {
        color: var(--white);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__logo {
    width    : 100%;
    max-width: 150px;
    display  : block;

    img {
      width : 100%;
      height: auto;
    }
  }

  &__arrowUp {
    width     : 100%;
    max-width : 120px;
    border    : none;
    outline   : none;
    background: transparent;
    cursor    : pointer;

    img {
      width : 100%;
      height: auto;
    }
  }

  &__descktop {
    @media screen and (min-width: 560px) {
      display: flex;
    }

    @media screen and (max-width: 559px) {
      display: none;
    }
  }

  &__mobile {
    padding: 0;

    @media screen and (min-width: 560px) {
      display: none;
    }
  }

  .footerSpecialMenu {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-start;
    @extend .flex-h-start;

    &__list {
      width: 100%;
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-start;
      @extend .flex-h-start;

      &--item {
        width: 100%;
        @extend .flex;
        @extend .flex-wrap;
        @extend .flex-v-start;
        @extend .flex-h-start;
        transition   : all .6s;
        position     : relative;
        z-index      : 0;
        padding      : 5px 15px;
        //background   : var(--primary);
        border-radius: 10px;
        border       : 2px solid transparent;
        background   :
          linear-gradient(90deg, var(--primary), var(--primary)) padding-box,
          linear-gradient(45deg, var(--gradient_start), var(--gradient_end)) border-box;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        .dropMenuToggler {
          width: 100%;
          @extend .flex;
          @extend .flex-wrap;
          @extend .flex-v-center;
          @extend .flex-h-start;
          @include font('Sentral', 1em, var(--white), 400, 1em);
          position: relative;

          &:after {
            content            : '';
            display            : block;
            width              : 15px;
            height             : 15px;
            border-radius      : 50%;
            background-repeat  : no-repeat;
            background-image   : url('../dist/images/icon-arrow_right.svg');
            background-size    : 100%;
            filter             : brightness(100);
            background-position: center;
            transition         : all .6s;
            transform          : rotate(90deg);
            position           : absolute;
            right              : 0;
            top                : 0;
          }

          &.open {
            &:after {
              transform: none;
            }
          }
        }

        .dropMenuItems {
          display   : none;
          margin-top: 5px;
          width     : 100%;
          @extend .flex;
          @extend .flex-wrap;
          @extend .flex-v-start;
          @extend .flex-h-start;
          margin-bottom: 10px;

          &__link {
            width: 100%;
            @extend .flex;
            @extend .flex-wrap;
            @extend .flex-v-center;
            @extend .flex-h-start;
            @include font('Sentral', .65em, var(--white), 400, 1em);
            position       : relative;
            z-index        : 0;
            padding        : 4.5px 15px 4.5px 15px;
            text-decoration: none;
            border-radius  : 10px;
            border       : 2px solid transparent;
            background   :
              linear-gradient(90deg, var(--primary), var(--primary)) padding-box,
              linear-gradient(45deg, var(--gradient_start), var(--gradient_end)) border-box;
            margin-bottom  : 3.5px;

              &.dev {
                  position: relative;

                  &::before {
                      content: 'Coming soon';
                      @include font('Sentral', 12px, var(--white), 400, 11px);
                      display: block;
                      width: max-content;
                      border-radius: 5px;
                      background: linear-gradient(to right, var(--gradient_start), var(--gradient_end));
                      padding: 4px;
                      position: absolute;
                      top: 50%;
                      //left: 0;
                      right: 15px;
                      //margin: 0 auto;
                      transform: translateY(-50%);
                  }
              }

            &:last-child {
              margin-bottom: 0;
            }

            //&:before {
            //  content      : "";
            //  position     : absolute;
            //  z-index      : -1;
            //  top          : 0;
            //  left         : 0;
            //  right        : 0;
            //  bottom       : 0;
            //  padding      : 1px;
            //  border-radius: 10px;
            //  background   : linear-gradient(to right, var(--gradient_start), var(--gradient_end));
            //  transition   : all .6s;
            //  -webkit-mask : linear-gradient(#fff 0 0) content-box,
            //    linear-gradient(#fff 0 0);
            //  -webkit-mask-composite: destination-out;
            //  mask-composite        : exclude;
            //  transition            : all .6s;
            //}
          }
        }

        //&:before {
        //  content      : "";
        //  position     : absolute;
        //  z-index      : -1;
        //  top          : 0;
        //  left         : 0;
        //  right        : 0;
        //  bottom       : 0;
        //  padding      : 1px;
        //  border-radius: 10px;
        //  background   : linear-gradient(to right, var(--gradient_start), var(--gradient_end));
        //  transition   : all .6s;
        //  -webkit-mask : linear-gradient(#fff 0 0) content-box,
        //    linear-gradient(#fff 0 0);
        //  -webkit-mask-composite: destination-out;
        //  mask-composite        : exclude;
        //  transition            : all .6s;
        //}
      }
    }
  }

  .titleGrp {
    width     : 100%;
    margin-top: 40px;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-start;
    margin-bottom: 35px;
      justify-content: center;

    &__title {
      width     : 100%;
      text-align: center;
      @include font('Sentral', 1.1em, var(--white), 400, 1em);
      letter-spacing: .1em;
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-start;
      @extend .flex-h-center;

      &:after {
        width     : 100%;
        content   : '';
        display   : block;
        margin    : 10px auto;
        max-width : 190px;
        height    : 3px;
        background: -o-linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
        background: linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
      }
    }

    &__desc-mobile {
      width: 100%;
      @include font('Sentral', .5em, var(--white), 400, 1.5em);
      letter-spacing: .1em;
    }
  }

  .newsletterForm__mobile {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-start;
    @extend .flex-h-center;

    .tit {
      width     : 100%;
      text-align: center;
      @include font('Sentral', 1em, var(--white), 400, 1.5em);
      letter-spacing: .1em;
      margin-bottom : 15px;
      display       : block;
    }

    .footer__newsletter {
      max-width    : 280px;
      padding      : 0 15px;
      border-radius: 25px;
      height       : 50px;
      margin-bottom: 12px;

      .inpt {
        font-size  : .9em;
        line-height: 1.25em;
        height     : 50px;
        width      : calc(100% - 35px);
      }

      .sbmt {
        width           : 35px;
        height          : 35px;
        background-image: url('../dist/images/input_arrow.png');
        cursor          : pointer;
      }

      &:before {
        padding      : 1px;
        border-radius: 25px;
      }
    }
  }

  .footer__sertificates--mobile {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-center;

    .cont {
      width: 100%;
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-center;
      @extend .flex-h-center;
    }

    img, .svgIcon {
      width       : 100%;
      max-width   : 35px;
      //margin-right: 10px;

      //&:last-child {
      //  margin-right: 0;
      //}
    }

    .title_svg .svgIcon {
      max-width: none;
    }

    &:after {
      width     : 100%;
      content   : '';
      display   : block;
      margin    : 10px auto;
      max-width : 190px;
      height    : 3px;
      background: -o-linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
      background: linear-gradient(45deg, var(--gradient_start), var(--gradient_end));
    }
  }

  @media screen and (max-width: 560px) {
    .footer__sertificates--mobile a:not(:last-child),
    .footer__sertificates--mobile span:not(:last-child) {
      margin-right: 10px;
    }
  }

  .footer__socials--mobile {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-center;
    max-width    : 100%;
    height       : 20px;
    margin-bottom: 35px;

    .socialLnk {
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-center;
      @extend .flex-h-center;
      height      : 100%;
      width       : auto;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      img {
        height: 100%;
        width : auto;
      }
    }
  }

  .footer__copyright--mobile {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-between;

    .footer__copyright--txt {
      width: calc(100% - 35px);
      @include font('Sentral', .85em, var(--white), 400, 1.5em);

      a {
        color: var(--white);

        &:hover {
            text-decoration: none;
        }
      }
    }

    .footer__arrowUp {
      width: 35px;
        align-self: flex-end;

      img {
        width : 100%;
        height: auto;
      }
    }
  }


  @media screen and (max-width: 560px) {
    background-color: #010102;
    padding         : 35px 30px;
    margin-top      : 40px;
    background-image: url('../dist/images/footer-bg.png');
  }
}