.parallax {

  &_img_3--nl {
    top: 50%;
    left: 50%;
    margin-top: -6%;
    margin-left: -12%;
    width: 24.17%;
  }


  &_img_4--nl {
    top: 40%;
    left: 26.5%;
    width: 0.5%;
  }

  &_img_5--nl {
    top: 66%;
    left: 22.5%;
  }

  &_img_6--nl {
    top: 49%;
    left: 71%;
    width: 3.3%;
  }

  &_img_7--nl {
    top: 50%;
    left: 79%;
    width: 0.3%;

  }

  &_img_8--nl {
    top: 65%;
    left: 17%;
  }

  &_img_9--nl {
    width: 0.5%;
    top: 61%;
    left: 30%;

  }

  &_img_10--nl {
    top: 30.6%;
    left: 73%;
  }

  &_img_11--nl {
    top: 84.4%;
    left: 75%;
  }

  &_img_12--nl {
    top: 27%;

  }

  &_img_13--nl {
    top: 65%;
    left: 79.3%;

    @media screen and (max-width: 480px) {

      top: 77%;
      left: 84.3%;
    }
  }


  &_img_14--nl {
    top: 26%;
    left: 83.5%;
  }

  &_img_3-partners {
    width: 131px;
    left: 75%;
    top: 65%;
    margin-top: -6%;
    margin-left: -12%;

    @media screen and (max-width: 1600px) {
      width: 115px;
    }

    @media screen and (max-width: 1280px) {
      width: 100px;

    }

    @media screen and (max-width: 1024px) {
      width: 90px;
      left: 78%;
    }

    @media screen and (max-width: 768px) {
      width: 87px;
      left: 65%;
      top: 47%;
      margin-top: unset;
      margin-left: unset
    }

    @media screen and (max-width: 480px) {
      width: 80px;
      left: 69%;
      top: 42%;
    }

    @media screen and (max-width: 360px) {
      width: 70px;

    }
  }

  &_img_3_1-partners {
    width: 215px;
    top: 60%;
    left: 42.5%;
    margin-top: -6%;
    margin-left: -12%;

    @media screen and (max-width: 1600px) {
      width: 180px;

    }

    @media screen and (max-width: 1280px) {
      width: 160px;
      left: 38.5%;
    }

    @media screen and (max-width: 1024px) {
      width: 150px;
      left: 38.5%;
    }

    @media screen and (max-width: 768px) {
      width: 133px;
      left: 13.5%;
      top: 47%;
      margin-top: unset;
      margin-left: unset
    }

    @media screen and (max-width: 480px) {
      width: 120px;
      left: 9.5%;
      top: 42%;
    }

    @media screen and (max-width: 360px) {
      width: 105px;

    }
  }


  &_img_3_2-partners {
    width: 192px;
    left: 58.5%;
    top: 46%;
    margin-top: -6%;
    margin-left: -12%;

    @media screen and (max-width: 1600px) {
      width: 170px;
    }

    @media screen and (max-width: 1280px) {
      width: 150px;

    }

    @media screen and (max-width: 1024px) {
      width: 135px;
    }

    @media screen and (max-width: 768px) {
      width: 122px;
      left: 39%;
      top: 36%;
      margin-top: unset;
      margin-left: unset
    }

    @media screen and (max-width: 480px) {
      width: 110px;
      left: 39%;
      top: 31%;
    }

    @media screen and (max-width: 360px) {
      width: 100px;

    }
  }
}

.parallax--nl {
  background-size: 43%;
  background-position: center top 107% !important;
  background-repeat: no-repeat;

}



@media screen and (max-width: 1200px) {
  .parallax_inner--nl {
    margin-bottom: 0;
  }


}


@media screen and (max-width: 1024px) {
  .parallax--nl {
    background-position: center top 61% !important;
  }
}




@media screen and (max-width: 768px) {

  .partners--nl {
    padding-top: 0 !important;
  }

  .parallax--nl {
    background-size: 90%;
  }

  .parallax {

    &_img_12--nl {
      width: 7.2%;
    }

    &_img_13--nl {
      width: 7.2%;
    }


    &_img_3--nl {
      margin-top: -10%;
      margin-left: -18%;
      width: 40.17%;
    }
  }
}


@media screen and (max-width: 550px) {}

















.partners {
  width: 100%;
  @extend .flex;
  @extend .flex-wrap;
  @extend .flex-h-center;
  @extend .flex-v-start;
  // padding-top  : 560px;
  margin-bottom: 130px;
  padding-top: 40px;

  .searchBlock {
    width: 100%;
    justify-content: flex-start;
  }

  .sideBar {
    margin-left: 70px;
  }

  &__content {
    width: calc(100% - 110px);
    margin-left: 63px;
    padding-top: 43px;
    position: relative;
    @include font('Sentral', 1.125em, var(--white), 400, 33.5px);
    letter-spacing: 1.8px;
    font-variant-caps: normal;

    @media screen and (max-width: 1599px) {
      width: 100%;
      margin-left: 25px;
    }

    @media screen and (max-width: 1280px) {
      width: 100%;
      margin-left: 0px;
    }

    @media screen and (max-width: 760px) {
      font-size: 16px;
      line-height: 19px;
      margin-left: 0;
      width: 100%;
    }

    p {
      width: 100%;
      margin-bottom: 25px;
      letter-spacing: 1.8px;

      @media screen and (max-width: 560px) {
        font-size: 12px;
        line-height: 14px;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: 100%;
      margin-bottom: 25px;
      padding-left: 25px;

      @media screen and (max-width: 560px) {
        padding-left: 0;
      }
    }

    strong,
    b {
      font-weight: 700;
    }

    em,
    i {
      font-style: italic;
    }

    iframe,
    video {
      width: 100% !important;
      height: auto !important;
    }

    h1 {
      font-size: 3.5em;
      line-height: 58px;
    }

    h2 {
      font-size: 30px;
      line-height: 30px;
      padding-left: 16px;
      text-transform: uppercase;
      letter-spacing: .6px;
      margin-bottom: 29px;

      @media screen and (max-width: 560px) {
        font-size: 16px;
        line-height: 19px;
      }
    }

    h3 {
      font-size: 2.25em;
      line-height: 42px;

      @media screen and (max-width: 560px) {
        font-size: 1.75em;
        line-height: 32px;
      }
    }

    h4 {
      font-size: 1.75em;
      line-height: 32px;

      @media screen and (max-width: 560px) {
        font-size: 1.5em;
        line-height: 28px;
      }
    }

    h5 {
      font-size: 1.5em;
      line-height: 28px;

      @media screen and (max-width: 560px) {
        font-size: 1em;
        line-height: 22px;
      }
    }

    h6 {
      font-size: 1.5em;
      line-height: 28px;

      @media screen and (max-width: 560px) {
        font-size: 1em;
        line-height: 22px;
      }
    }

    ul,
    ol {
      width: 100%;
      margin: 56px 0 70px;

      li {
        width: 100%;
      }

      @media screen and (max-width: 560px) {
        margin: 25px 0;
      }
    }

    ul {
      padding-left: 70px;

      li {
        padding-left: 40px;
        position: relative;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        &:after {
          content: '';
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #ff00b4;
          top: 7px;
          left: 0;
          position: absolute;

          @media screen and (max-width: 560px) {
            width: 6px;
            height: 6px;
            top: 7px;
          }
        }

        @media screen and (max-width: 560px) {
          padding-left: 15px;
          margin-bottom: 15px;
        }
      }

      @media screen and (max-width: 560px) {
        padding-left: 15px;
      }
    }

    ol {
      counter-reset: my-awesome-counter;

      li {
        width: 100%;
        @extend .flex;
        @extend .flex-wrap;
        @extend .flex-v-start;
        @extend .flex-h-start;
        counter-increment: my-awesome-counter;
        padding-left: 75px;
        position: relative;
        margin-bottom: 50px;

        &:before {
          content: counter(my-awesome-counter);
          @extend .flex;
          @extend .flex-wrap;
          @extend .flex-v-center;
          @extend .flex-h-center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #ff00b4;
          font-size: 1.5em;
          line-height: 24px;
          color: var(--white);
          position: absolute;
          left: 0;
          top: -12.5px;

          @media screen and (max-width: 560px) {
            width: 20px;
            height: 20px;
            top: 0;
            font-size: .85em;
            line-height: 20px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        @media screen and (max-width: 560px) {
          margin-bottom: 15px;
          padding-left: 35px;
        }
      }

    }

    .outrich {


      h2 {
        padding-left: 2px;
        margin-bottom: 17px;

        @media screen and (max-width: 560px) {
          font-size: 14px;
          line-height: 1;
        }
      }

      p {
        max-width: 650px;
        font-variant-caps: small-caps;
        font-size: 24px;
        line-height: 38px;
        letter-spacing: 3.5px;
        margin-bottom: 15px;

        @media screen and (max-width: 560px) {
          font-size: 14px;
          line-height: 1;
          letter-spacing: normal;
        }
      }


      .searchBlock {
        margin-bottom: 35px;
        flex-wrap: wrap;

        .current {
          font-size: 16px;
          letter-spacing: normal;
        }

        .list li {
          font-size: 16px;
          letter-spacing: normal;
          &[data-value="0"]{
            display: none;
          }
        }

        @media screen and (max-width: 480px) {
          flex-wrap: wrap;
          flex-direction: column;

          svg {
            margin-left: auto;
            margin-right: auto;
          }
        }

        &__category {
          &::after {
            background-image: url(../dist/images/next1.png);
            width: 20px;
            height: 13px;
            right: 15px;

            @media screen and (max-width: 480px) {
              width: 30px;
              height: 20px;
            }
          }

          min-width: 240px;
          height: 44px;

          li:after {
            display: none;
          }
        }

        &__search-form {
          flex: 0 1 auto;
          flex-wrap: wrap;
          margin-right: 40px;

          @media screen and (max-width: 480px) {
            margin-right: 0;
          }
        }
      }

      .copy {
        width: 100%;
        max-width: 870px;
        position: relative;
        border-radius: 30px;
        border: 2px solid transparent;
        background: linear-gradient(90deg, var(--cards_bg_type_1), var(--cards_bg_type_1)) padding-box, linear-gradient(45deg, var(--gradient_start), var(--gradient_end)) border-box;
        z-index: 0;
        padding: 14px 21px 80px;
        font-size: 16px;
        line-height: 19px;
        margin-left: 106px;

        @media screen and (max-width: 1280px) {
          margin-left: auto;
          margin-right: auto;
        }

        &__button {
          position: absolute;
          bottom: 20px;
          left: calc(50% - 78px);
          font-family: "Sentral", sans-serif;
          font-size: 18px;
          color: var(--white);
          font-weight: 700;
          line-height: 1;
          letter-spacing: 1.8px;
          font-variant: small-caps;
          text-decoration: none;
          border-radius: 18px;
          border: 2px solid transparent;
          background: linear-gradient(90deg, var(--primary), var(--primary)) padding-box, linear-gradient(45deg, var(--gradient_start), var(--gradient_end)) border-box;
          padding: 8px 13px;
          transition: all .6s;
          cursor: pointer;

          &:hover {
            box-shadow: 0 0 20px rgba(221, 35, 237, 0.8);
          }
        }
      }
    }

    blockquote {
      width: calc(100% + 60px);
      display: block;
      position: relative;
      border-radius: 30px;
      border: 2px solid transparent;
      background:
        linear-gradient(90deg, var(--cards_bg_type_1), var(--cards_bg_type_1)) padding-box,
        linear-gradient(45deg, var(--gradient_start), var(--gradient_end)) border-box;
      z-index: 0;
      //background: var(--cards_bg_type_1);
      padding: 71px 158px 42px;
      font-size: 24px;
      line-height: 38px;
      margin-bottom: 40px;

      @media screen and (max-width: 1280px) {
        width: calc(100% + 200px);
      }

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      p {
        font-variant-caps: small-caps;
        letter-spacing: 3.5px;

        @media screen and (max-width: 560px) {
          letter-spacing: 1.27px;
        }

        &:before,
        &:after {
          content: "";
          display: block;
          width: 61px;
          height: 45px;
          position: absolute;

          @media screen and (max-width: 760px) {
            width: 19px;
            height: 14px;
          }
        }

        &:before {
          background: url("../dist/images/icon-quotes-left.svg") no-repeat center center/contain;
          top: 54px;
          left: 59px;

          @media screen and (max-width: 760px) {
            top: 25px;
            left: 25px;
          }

          @media screen and (max-width: 560px) {
            top: 16px;
            left: 16px;
          }
        }

        &:after {
          background: url("../dist/images/icon-quotes-right.svg") no-repeat center center/contain;
          right: 57px;
          bottom: 57px;

          @media screen and (max-width: 760px) {
            right: 25px;
            bottom: 25px;
          }

          @media screen and (max-width: 560px) {
            right: 16px;
            bottom: 16px;
          }
        }
      }

      //&:before {
      //  display: block;
      //  content: '';
      //  position: absolute;
      //  z-index: -1;
      //  top: 0;
      //  left: 0;
      //  right: 0;
      //  bottom: 0;
      //  padding: 2px;
      //  border-radius: 30px;
      //  background: linear-gradient(to right, var(--gradient_start), var(--gradient_end));
      //  -webkit-mask: linear-gradient(#fff 0 0) content-box,
      //  linear-gradient(#fff 0 0);
      //  -webkit-mask-composite: destination-out;
      //  mask-composite: exclude;
      //
      //  @media screen and (max-width: 560px) {
      //    padding: 1px;
      //  }
      //}

      //&:after {
      //  content: '';
      //  width: 60px;
      //  height: 45px;
      //  background-repeat: no-repeat;
      //  background-size: cover;
      //  background-image: url('../dist/images/icon-quotes-left.svg');
      //  position: absolute;
      //  left: 60px;
      //  top: 50px;
      //
      //  @media screen and (max-width: 560px){
      //    left: 15px;
      //    top: 15px;
      //    width: 20px;
      //    height: 15px;
      //  }
      //}
      @media screen and (max-width: 760px) {
        padding: 71px 45px 42px;
        font-size: 12px;
        line-height: 14px;
      }

      @media screen and (max-width: 560px) {
        padding: 30px 40px 10px;
        font-size: .85em;
        line-height: 20px;
      }
    }

    @media screen and (max-width: 560px) {
      font-size: .75em;
      line-height: 20px;
    }
  }


  &__cont {
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-h-start;
    @extend .flex-v-start;
    max-width: 1740px;
  }

  &__items {
    &-cont {
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-h-start;
      @extend .flex-v-start;
      width: calc(100% - 610px);

      @media screen and (max-width: 1280px) {
        width: calc(100% - 510px);
      }

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    //width: 100%;
    flex: 1 0 100%;
    margin: 0 -15px;
    @extend .flex;
    @extend .flex-wrap;
    //@extend .flex-h-between;
    @extend .flex-v-start;
    @extend .flex-c-start;
  }

  &__item {
    width: calc(33.333333% - 86px);
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-h-start;
    @extend .flex-v-start;
    @extend .flex-c-start;
    //position        : relative;
    border-radius: 10px;
    border: 2px solid transparent;
    background:
      linear-gradient(90deg, var(--cards_bg_type_1), var(--cards_bg_type_1)) padding-box;
    //background-color: var(--cards_bg_type_1);
    padding: 15px 25px;
    //margin-bottom   : 45px;
    margin: 0 43px 30px;
    //z-index         : 0;
    text-decoration: none;

    &:visited {
      color: $COLOR_WHITE;
    }

    //&:before {
    //  content      : "";
    //  position     : absolute;
    //  z-index      : -1;
    //  top          : 0;
    //  left         : 0;
    //  right        : 0;
    //  bottom       : 0;
    //  padding      : 2px;
    //  border-radius: 30px;
    //  background   : linear-gradient(to right, var(--gradient_start), var(--gradient_end));
    //  -webkit-mask : linear-gradient(#fff 0 0) content-box,
    //    linear-gradient(#fff 0 0);
    //  -webkit-mask-composite: destination-out;
    //  mask-composite        : exclude;
    //  opacity               : 0;
    //  transition            : all .6s;
    //
    //  @media screen and (max-width: 560px) {
    //    padding: 1px;
    //  }
    //}

    &:hover {
      background:
        linear-gradient(90deg, var(--cards_bg_type_1), var(--cards_bg_type_1)) padding-box,
        linear-gradient(45deg, var(--gradient_start), var(--gradient_end)) border-box;
      //&:before {
      //  opacity: 1;
      //}

      .thumb {
        .basicBtn {
          opacity: 1;
        }
      }
    }

    .tit {
      width: 100%;
      margin-bottom: 10px;
      word-break: break-word;
      @include font('Sentral', 1.5em, var(--white), 400, 30px);

      @media screen and (max-width: 440px) {
        font-size: 14px;
        line-height: 1;
      }
    }

    .decor {
      width: 100%;
      max-width: 115px;
      height: 8px;
      border-radius: 4px;
      background: linear-gradient(to right, var(--partners_gradient_start) 0%, var(--partners_gradient_end) 100%);
      margin-bottom: 15px;

      @media screen and (max-width: 560px) {
        height: 5px;
        border-radius: 2px;
        margin-bottom: 7px;
      }
    }

    .desc {
      width: 100%;
      @include font('Sentral', .875em, var(--white), 400, 22px);
      margin-bottom: 15px;
      word-break: break-word;
    }

    .thumb {
      width: 100%;
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-start;
      @extend .flex-h-start;
      margin-bottom: 15px;
      position: relative;

      img {
        width: 100%;
        height: auto;
        border-radius: 30px;
      }



      .basicBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .6s;
        width: 100%;
        max-width: 210px;
        border-radius: 30px;
        z-index: 0;
        padding: 15px 25px;
        @include font('Sentral', 1.125em, var(--white), 400, 30px);
        letter-spacing: .1em;
        background: var(--btn_background_7);
        opacity: 0;

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 2px;
          border-radius: 30px;
          background: linear-gradient(to right, var(--gradient_start), var(--gradient_end));
          -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
        }

        &:hover {
          background: var(--btn_background);
          -webkit-box-shadow: 0 0 20px rgba(221, 35, 237, .8), inset 0 0 7px 3px rgba(0, 0, 0, .45);
          box-shadow: 0 0 20px rgba(221, 35, 237, .8), inset 0 0 7px 3px rgba(0, 0, 0, .45);
        }
      }
    }

    .author {
      width: auto;
      display: block;
      padding: 3px 10px;
      border-radius: 8px;
      border: 2px solid transparent;
      background:
        linear-gradient(90deg, var(--cards_bg_type_1), var(--cards_bg_type_1)) padding-box,
        linear-gradient(45deg, var(--gradient_start), var(--gradient_end)) border-box;
      position: relative;
      z-index: 0;

      @include font('Sentral', .75em, var(--white), 400, 18px);

      //&:before {
      //  content      : "";
      //  position     : absolute;
      //  z-index      : -1;
      //  top          : 0;
      //  left         : 0;
      //  right        : 0;
      //  bottom       : 0;
      //  padding      : 1px;
      //  border-radius: 10px;
      //  background   : linear-gradient(to right, var(--gradient_start), var(--gradient_end));
      //  -webkit-mask : linear-gradient(#fff 0 0) content-box,
      //    linear-gradient(#fff 0 0);
      //  -webkit-mask-composite: destination-out;
      //  mask-composite        : exclude;
      //}
    }

    &:nth-last-child(2),
    &:nth-last-child(3),
    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 1600px) {
      width: calc(50% - 100px);

      &:nth-last-child(3) {
        margin-bottom: 45px;
      }
    }

    @media screen and (max-width: 1280px) {
      width: calc(50% - 50px);
      margin: 0 15px 30px;

      &:nth-last-child(3) {
        margin-bottom: 45px;
      }
    }

    @media screen and (max-width: 1024px) {
      width: calc(33.33333% - 30px);

      &:nth-last-child(3) {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 992px) {
      width: calc(50% - 30px);

      &:nth-last-child(3) {
        margin-bottom: 45px;
      }
    }

    @media screen and (max-width: 560px) {
      width: calc(50% - 30px);
      padding: 11px 8px 0px 8px;
      margin-bottom: 10px;

      &:nth-last-child(2),
      &:nth-last-child(3) {
        margin-bottom: 10px;
      }
    }
  }

  .pagination {
    margin-bottom: 0;
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-between;
    margin-top: 50px;

    &__buttons {
      margin: 0 auto;

      @media screen and (max-width: 560px) {
        width: 100%;

        .pagination__button {
          width: calc(50% - 10px);
          font-size: 10px;
          line-height: 16px;
          padding: 2px 5px;
          justify-content: space-between;

          img {
            width: 10px;
            height: 19px;
          }
        }
      }
    }

    &__pages {
      position: relative;
      align-self: flex-end;
      transform: unset;
      top: unset;
      justify-content: flex-end;

      @media screen and (max-width: 560px) {
        display: none;
      }
    }

    @media screen and (max-width: 560px) {
      width: 100%;
      margin-top: 30px;
    }
  }

  .searchBlock {
    @media screen and (max-width: 560px) {
      margin-bottom: 45px;

      .searchBlock__search-form {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .searchBlock__search-cont,
      .searchBlock__category-cont {
        width: 100%;
        max-width: 100%;
        margin: 0 0 15px 0;
      }
    }
  }

  @media screen and (max-width: 560px) {
    padding-top: 280px;

    .searchBlock .searchBlock__category .list {
      width: 100%;
    }

    .searchBlock .searchBlock__category .list .option {
      line-height: 22px;
      white-space: normal;
      padding: 8px 15px 5px 15px;
    }
  }
}